<style media="screen">
    .verde{
        color: green;
    }
    .fo{
        font-style: italic;
        color: blue;
    }
</style>
<strong>Nuevo correo enviado de la app:</strong>

<p class="verde">Usuario: <%= @nombre %></p>
<p class="verde">email: <%= @email %></p>
<p class="verde">asunto: <%= @asunto %></p>
<p class="verde">Mensaje: <%= @mensaje %></p>


<h3 class="fo">Gracias por la revision Amo Supremo Mi Lord :v</h3>
